<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urecmapapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UrecMapApp">
        <activity
            android:name=".DisplayShoulderMachines"
            android:exported="false" />
        <activity
            android:name=".DisplayBackMachines"
            android:exported="false" />
        <activity
            android:name=".DisplayLegMachines"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DisplayMultiJungleStation"
            android:parentActivityName=".DisplayArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayArmMachines" />
        </activity>
        <activity
            android:name=".DisplayDualActionPulleys"
            android:parentActivityName=".DisplayArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayArmMachines" />
        </activity>
        <activity
            android:name=".DisplayArmCurls"
            android:parentActivityName=".DisplayArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayArmMachines" />
        </activity>
        <activity
            android:name=".DisplayKettlebells"
            android:parentActivityName=".DisplayArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayArmMachines" />
        </activity>
        <activity
            android:name=".DisplaySeatedDips"
            android:parentActivityName=".DisplayArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayArmMachines" />
        </activity>
        <activity
            android:name=".DisplayDumbbells"
            android:parentActivityName=".DisplayArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayArmMachines" />
        </activity>
        <activity
            android:name=".DisplayArmMachines"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>