<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urecmapapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UrecMapApp">
        <activity
            android:name=".ShoulderMachineShoulderRaiseMachine"
            android:exported="false" />
        <activity
            android:name=".ShoulderMachineShoulderPress"
            android:exported="false" />
        <activity
            android:name=".ShoulderMachineMilitaryPress"
            android:exported="false" />
        <activity
            android:name=".BackMachinePecDecMachine"
            android:exported="false" />
        <activity
            android:name=".BackMachineRowers"
            android:exported="false" />
        <activity
            android:name=".BackMachinePullUpBar"
            android:exported="false" />
        <activity
            android:name=".CableColumn"
            android:exported="false" />
        <activity
            android:name=".LegMachineCalfRaises"
            android:exported="false" />
        <activity
            android:name=".LegMachineLegExtensions"
            android:exported="false" />
        <activity
            android:name=".LegMachineLegCurls"
            android:exported="false" />
        <activity
            android:name=".PowerRack"
            android:exported="false" />
        <activity
            android:name=".LegMachineLegPress"
            android:exported="false" />
        <activity
            android:name=".MuscleShoulderMachines"
            android:exported="false" />
        <activity
            android:name=".MuscleBackMachines"
            android:exported="false" />
        <activity
            android:name=".MuscleLegMachines"
            android:parentActivityName=".MuscleScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MuscleScreen" />
        </activity>
        <activity
            android:name=".ArmMachineMultiJungleStation"
            android:parentActivityName=".MuscleArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MuscleArmMachines" />
        </activity>
        <activity
            android:name=".ArmMachineDualActionPulleys"
            android:parentActivityName=".MuscleArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MuscleArmMachines" />
        </activity>
        <activity
            android:name=".ArmMachineArmCurls"
            android:parentActivityName=".MuscleArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MuscleArmMachines" />
        </activity>
        <activity
            android:name=".ArmMachineKettlebells"
            android:parentActivityName=".MuscleArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MuscleArmMachines" />
        </activity>
        <activity
            android:name=".ArmMachineSeatedDips"
            android:parentActivityName=".MuscleArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MuscleArmMachines" />
        </activity>
        <activity
            android:name=".Dumbbells"
            android:parentActivityName=".MuscleArmMachines">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MuscleArmMachines" />
        </activity>
        <activity
            android:name=".MuscleArmMachines"
            android:parentActivityName=".MuscleScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MuscleScreen" />
        </activity>
        <activity
            android:name=".MuscleScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>